.image-upload-box {
  width: 90%;
  max-width: 380px;
}

.image-preview-box, .image-preview-placeholder {
  min-height: 320px; // Toujours la même hauteur
  max-width: 320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview-box img {
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 1px 8px #e1e1e1;
}
