<div class="gallery-home">
  <h2>NOS<span class="highlight"> RÉALISATION</span></h2>
  <div class="image-grid">
    <div *ngFor="let img of images; index as i" class="image-item" (click)="openModal(i)">
      <img [src]="img.url" [alt]="img.titre">
      <div>{{ img.titre }}</div>
      <small>{{ img.description }}</small>
    </div>
  </div>
  <app-gallery-modal
    *ngIf="modalOpen"
    [images]="images"
    [currentIndex]="modalIndex"
    (close)="closeModal()"
  ></app-gallery-modal>
</div>


<app-argument-info
  [arguments]="argumentsList"
  [columns]="3"
></app-argument-info>
<div class="beauty-slogan">
  Prenez votre destin en main. <strong>La beauté, c’est vous !</strong>
</div>
