<section class="partenaires">
  <div class="container">
    <h2 class="partenaires-title">Devenons les leaders de demain ensemble</h2>
    <p class="partenaires-subtitle">
          Rejoignez notre réseau exclusif de partenaires. Accédez à des outils innovants,
          un accompagnement stratégique sur mesure et une communauté engagée pour propulser
          mutuellement notre croissance et développer votre activité.    </p>

    <div class="partners-grid">
      <div class="partner-card"
           *ngFor="let partenaire of partenaires; trackBy: trackByPartenaireNom"
           (mouseenter)="onLogoHover($event, true)"
           (mouseleave)="onLogoHover($event, false)">
        <div class="partner-logo-container">
          <img
            [src]="partenaire.logo"
            [alt]="partenaire.nom"
            loading="lazy"
            class="partenaire-logo" />
        </div>
         <div class="partner-name">
          {{ partenaire.nom }}
        </div>
      </div>

    </div>
  </div>
</section>
